
.ricardo {
    color: gray;
    padding: 10px;
}

.lastname {
    color:black;
    padding: 10px;
    background-color: lightgray;
}

.fixed {
    position: fixed;
}

liquifactor {
    background-color: #d9dcd6;
}

h1 {
    position: relative;
    left: 14px;
    font-family: sans-serif;
    font-size: 3rem;
    line-height: 2rem;
}

h2 {
    position: relative;
    top: -3000px;
    color:white;
}

.metropolis-image {
    position: fixed;
    display: inline-block;
    border: 10px solid black;
    top: 100px;
    width: 100%;
    height: 3000px;
    z-index: -1;
}

.link-1 {
    display: inline;
    position: relative;
    padding: 20px;
    top: -95px;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

a{
    text-decoration: none;
}

.arrowcontainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
.arrow {
    position: relative;
    padding: 50px 50px;
    margin-top: 2700px;
    width: 500px;
    height: 200px; 
    bottom: -500px;
}

.strengths {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    text-align: center;
    font-size: 4rem;
    z-index: 0;
}

.box-1 {
    position: relative;
    Display: block;
    margin-left: auto;
    margin-right: auto;
    top: -2950px;
    width: 350px;
    height: 400px;
}

.box {
    padding: 150px 600px;
    border: 10px solid gray;
    border-radius: 20px;
    background-color: lightgray;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 5rem;
    color: black;
    position: relative;
    top: -3700px;
}

p {
    font-family: sans-serif;
    font-size: 2rem;
    color:brown;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.paragraph-1 {
    font-size: 3rem;
    font-weight: bold;
    text-indent: 10px;   
    text-align: center;
    top: -3350px;
}

.box-2 {
    position: relative;
    Display: block;
    margin-left: auto;
    margin-right: auto;
    top: -3200px;
    width: 350px;
    height: 400px;
}

h4 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 5rem;
    color: black;
    position: relative;
    top: -3980px;
}

.box-3 {
    position: relative;
    Display: block;
    margin-left: auto;
    margin-right: auto;
    top: -3450px;
    width: 350px;
    height: 400px;
}

.paragraph-2 {
    font-size: 3rem;
    font-weight: bold;
    text-indent: 10px;   
    text-align: center;
    top: -3650px;
}

h5 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 5rem;
    color: black;
    position: relative;
    top: -4265px;
}

.paragraph-3 {
    font-size: 3rem;
    font-weight: bold;
    text-indent: 10px;   
    text-align: center;
    top: -3950px;
}

.sidebox {
    font-family: sans-serif;
    font-size: 5rem;
    text-align: center;
    color: black;
    padding: 8px;
    border: 10px solid gray;
    border-radius: 20px;
    background-color: burlywood;
}

h6 {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1190px;
    height: 250px;
}

.h6-1 {
    top: -2500px; 
}
.h6-2 {
    top: -2500px; 
}
.h6-3 {
    top: -2500px; 
}
.h6-4 {
    top: -2500px; 
}

@media screen and (max-width: 992px) {
 
}
  
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
 
}
  
/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
   
}